################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GunPrototype/v17
/ArtilleryPrototype/.vs/Lab07/FileContentIndex
/ArtilleryPrototype/.vs/Lab07/v17
/.vs/ArtilleryProto/v17
/ArtilleryPrototype/packages/nupengl.core.0.1.0.1/build/native/docs
/ArtilleryPrototype/packages/nupengl.core.0.1.0.1/build/native/include
/ArtilleryPrototype/packages/nupengl.core.0.1.0.1/build/native/lib/Win32
/ArtilleryPrototype/packages/nupengl.core.0.1.0.1/build/native
/ArtilleryPrototype/packages/nupengl.core.0.1.0.1
/ArtilleryPrototype/packages/nupengl.core.redist.0.1.0.1
/ArtilleryPrototype/x64/Debug
/.vs/VSWorkspaceState.json
/ArtilleryPrototype/x64/Debug/Lab07.tlog/CL.command.1.tlog
/ArtilleryPrototype/x64/Debug/Lab07.tlog/CL.read.1.tlog
/ArtilleryPrototype/x64/Debug/Lab07.tlog/CL.write.1.tlog
/ArtilleryPrototype/x64/Debug/Lab07.tlog/Lab07.lastbuildstate
/ArtilleryPrototype/x64/Debug/Lab07.tlog/link.command.1.tlog
/ArtilleryPrototype/x64/Debug/Lab07.tlog/link.read.1.tlog
/ArtilleryPrototype/x64/Debug/Lab07.tlog/link.write.1.tlog
/ArtilleryPrototype/x64/Debug/ground.obj
/ArtilleryPrototype/x64/Debug/Lab07.exe
/ArtilleryPrototype/x64/Debug/Lab07.exe.recipe
/ArtilleryPrototype/x64/Debug/Lab07.ilk
/ArtilleryPrototype/x64/Debug/Lab07.log
/ArtilleryPrototype/x64/Debug/Lab07.obj
/ArtilleryPrototype/x64/Debug/Lab07.pdb
/ArtilleryPrototype/x64/Debug/Lab07.vcxproj.FileListAbsolute.txt
/ArtilleryPrototype/x64/Debug/position.obj
/ArtilleryPrototype/x64/Debug/test.obj
/ArtilleryPrototype/x64/Debug/uiDraw.obj
/ArtilleryPrototype/x64/Debug/uiInteract.obj
/.vs/GunPrototype/FileContentIndex
/.vs
