################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GunPrototype/v17
/ArtilleryPrototype/.vs/Lab07/FileContentIndex
/ArtilleryPrototype/.vs/Lab07/v17
/.vs
/ArtilleryPrototype/x64/Debug/Lab07.tlog
/ArtilleryPrototype/x64/Debug
